body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image {
    max-width: 250px;
    height: auto;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.front-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.back-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.product-info {
    text-align: center;
}

.product-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-info strong {
    font-weight: bold;
    color: #333;
}
