:root{
    --bleugris: #3A6E95;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    font-family: "Comfortaa", sans-serif;
    font-size: 2.5vh;
}

a{
    color: black;
}

.bandeauLivraison{
    display: flex;
    background-color: var(--bleugris);
    color: white;
    line-height: 4vh;
    font-size: 1.6vh;
    justify-content: center; 
    align-items: center;
    gap: 20vh;
}

.bandeauLivraison li {
    display: flex;
    align-items: center;
    gap : 1vh;
}

.iconeBandeau{
    height: 3vh;
    width: auto;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo{
    display: flex;
    width: 20vh;
    margin: auto;
    align-items: left;
}

.ulNav{
    display: flex;
    gap: 5vh;
    font-weight:bold;
    font-size: 2vh;
    justify-content: end;
}

.divFavoris, .divCompte, .divPanier{
    display: flex;
    flex-direction: column;
    gap : 0.4vh; /* espace vertical entre l'icone et le texte */
}

.iconeNav{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5vh;
    height: 4vh;
    transition: background-image 0.2s ease; /* Ajout de la transition */
}

.divFavoris .iconeNav{
    background-image: url("images/navbar/iconeFavoris.png");
}
.divFavoris:hover .iconeNav{
    background-image: url("images/navbar/iconeFavorisRempli.png");
}

.divCompte .iconeNav{
    background-image: url("images/navbar/iconeCompte.png");
}
.divCompte:hover .iconeNav{
    background-image: url("images/navbar/iconeCompteRempli.png");
}

.divPanier .iconeNav{
    background-image: url("images/navbar/iconePanier.png");
}
.divPanier:hover .iconeNav{
    background-image: url("images/navbar/iconePanierRempli.png");
}

/* Début Loupe */
.containerLoupe {    
    position: relative;
    min-width: 150px;
  }

.inputLoupe {
    display: flex;
    width: 40vh;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.containerLoupe svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.inputLoupe:focus {
    opacity: 1;
    width: 70vh;
    border: solid 1px var(--bleugris);

} /* Fin Loupe */

.ulProduits{
    display: flex;
    margin: auto;
    width: 88%;
    justify-content: space-around;
    flex-direction: row;
    font-weight: bold;
    margin-top: 1.5vh; 
    margin-bottom: 2vh; 
    padding: 1.5vh;
}

.ulProduits li a {
    position: relative;
    padding: 1.5vh;
    align-items: center;
}

/* Animation nav */
.ulProduits li a::before,
.ulProduits li a::after {
    content: "";
    position: absolute;
    width: 0;
    background-color: black;
    transition: width 0.2s ease;
    height: 2px;
}

.ulProduits li a::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.ulProduits li a::after {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.ulProduits li a:hover::before {
    width: 100%;
}

.ulProduits li a:hover::after {
    width: 100%;
}

.ulProduits li a:hover{
    color: var(--bleugris);
}
