:root{
    --bleugris: #3A6E95;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    font-family: "Comfortaa", sans-serif;
    font-size: 2.5vh;
}

.body{
    height: 72vh;
    margin-top: 28vh;
}

header{
    top: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;
}

a{
    color: black;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo{
    display: flex;
    width: 20vh;
}

/* Début Loupe */
.containerLoupe {    
    position: relative;
    min-width: 150px;
  }

.inputLoupe {
    display: flex;
    width: 40vh;
    padding: 10px 0px 10px 20px;
    border-radius: 9999px;
    border: solid 2px black;
    /* border: solid 1px #333; */
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.containerLoupe svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.inputLoupe:focus {
    opacity: 1;
    width: 70vh;
    border: solid 2px var(--bleugris);
} /* Fin Loupe */


.divIcones{
    display: flex;
    gap: 5vh;
    font-weight:bold;
    font-size: 2vh;
    position: relative;
}

.divFavoris, .divCompte, .divPanier{
    display: flex;
    flex-direction: column;
    gap : 0.4vh; /* espace vertical entre l'icone et le texte */
}

.divIcones .icone{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5vh;
    height: 4vh;
    transition: background-image 0.2s ease;
}

.divFavoris .icone{
    background-image: url("images/navbar/iconeFavoris.png");
}
.divCompte .icone{
    background-image: url("images/navbar/iconeCompte.png");
}
.divPanier .icone{
    background-image: url("images/navbar/iconePanier.png");
}

.divFavoris:hover .icone,
.divFavoris:hover a {
    background-image: url("images/navbar/iconeFavorisRempli.png");
    color: var(--bleugris);
}
.divCompte:hover .icone,
.divCompte:hover a {
    background-image: url("images/navbar/iconeCompteRempli.png");
    color: var(--bleugris);
}
.divPanier:hover .icone,
.divPanier:hover a{
    background-image: url("images/navbar/iconePanierRempli.png");
    color: var(--bleugris);
}

/* nav{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
} */

.ulNav{
    display: flex;
    margin: auto;
    margin-top: 0.1vh;
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
    font-weight: bold;
    padding: 1vh;
    border-radius: 3vh;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.ulNav li a {
    position: relative;
    padding: 0.5vh;
    align-items: center;
    line-height: 4vh;
    color: #333;
}
.ulNav li a:hover {
    color: var(--bleugris);
}

/* Animation nav */
.ulNav li a::before,
.ulNav li a::after {
    content: "";
    position: absolute;
    width: 0;
    background-color: var(--bleugris);
    transition: width 0.2s ease;
    height: 2px;
}

.ulNav li a::before {
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
}

.ulNav li a::after {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.ulNav li a:hover::before {
    width: 100%;
}

.ulNav li a:hover::after {
    width: 0; 
}

.ulNav li a:hover{
    color: var(--bleugris);
}
