section{
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne lorsque nécessaire */
    width: 90%;
    margin: auto;
    gap: 3.67%;
}

.carte{
    position: relative;
    padding: 2vh;
    margin-bottom: 10vh;
    font-size: 2.5vh;
    height: auto; /* s'adapte à la taille du contenu */
    border-radius: 0.5vh;
}

.carte:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.image{
    width: 38vh;
    border-radius: 0.5vh;
    object-fit: contain;
}

.titreArticle{
    font-weight: bold;
    padding-top: 1vh;
}

.divInfosArticle{
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 0 2vh 0;
    align-items: end;
}

.iconeAjouterPanier{
    width: 4vh;
    margin-right: 0.2vh;
}

.BTNdescription {
    position: absolute;
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    font-weight: bold;
    background-color: var(--bleugris);
    color: white;
    font-size: 2.2vh;
    padding: 1.5vh 0;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    text-align: center;
}

.carte:hover .BTNdescription {
    transform: translate(-50%, 50%);
    opacity: 1;
}